<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
         <div class="auth-container">
    <h2>Reset Password</h2>
    <p th:if="${message}" style="color: green;" th:text="${message}"></p>
    <p th:if="${error}" style="color: red;" th:text="${error}"></p>
    
    <form th:action="@{/forgot-password}" method="post">
        <input type="text" name="username" placeholder="Enter Username" required />
        <button type="submit">Send Reset Link</button>
    </form>
    <p><a th:href="@{/login}">Back to Login</a></p>
</div>
</body>
</html>